// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  padding-left: 0px;
  padding-right: 0px;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
  float: left;
  box-sizing: border-box;
  border-radius: 0.5rem;
  //border: 1px solid #505050;
  //padding: 0.5rem;
}

.masthead-site-title {
    padding: 0.4rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    border: 1px solid #505050;
}

.masthead-section-title {
    padding: 0.4rem;
    color: #FDFDFD;
    background-color: #258D82;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    border: 1px solid #258D82;
}

.masthead-navbar {
    margin-top: 0;
    margin-bottom: 0;
    float: right;
    box-sizing: border-box;

    a {
        color: #505050;
        padding: 0.4rem;
        text-decoration: none;
        border-radius: 0.5rem;
        transition: background-color 0.2s linear;
        span {
            padding: 0rem;
        }
    }

    a.active {
        color: #DFDFDF;
        background-color: #258D82;
        text-decoration: none;
    }

    a:hover:not(.active) {
        background-color: #D9D9D9;
    }
}
