<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
                <!--<small>{{ site.tagline }}</small>-->
        </h3>
        <h3 class="masthead-navbar">
            <a href="{{ site.baseurl }}/" {% if page.title == 'Home' %}class="active"{% endif %}>Blog</a>
            <a href="{{ site.baseurl }}/projects/" {% if page.title == 'Projects' %}class="active"{% endif %}>Projects</a>
            <a href="{{ site.baseurl }}/about" {% if page.title == 'About Me' %}class="active"{% endif %}>About Me</a>
        </h3>
      </header>

      <main>

        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; {{ site.author.name }} <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
